@page "/RequestCalculation"
@using VolumeWeb.Models
@using VolumeWeb.Data
@using Microsoft.AspNetCore.Components

@inject NavigationManager NavigationManager
@inject CalculationService CalculationService

<h3>Request Calculation</h3>

<EditForm Model="@newVolume" OnValidSubmit="@RequestCalculateVolume">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group"> Height:<br/> <InputNumber @bind-Value="newVolume.Height"/> </div>
    <div class="form-group"> Radius:<br/> <InputNumber @bind-Value="newVolume.Radius"/> </div>

    <div class="form-group">
        Type: <br/>
        <InputSelect @bind-Value="selectedType">
            <option value=""> Select Type </option>
            <option value="@newVolume.Type"> Cylinder </option>
            <option value="@newVolume.Type"> Cone </option>
        </InputSelect>
    </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>


@code {
    
    private VolumeResult newVolume = new VolumeResult();
    private string selectedType;
    
    
    private async Task RequestCalculateVolume()
    {
        await CalculationService.RequestNewCalculationAsync(newVolume, selectedType);
        NavigationManager.NavigateTo("/ViewAllCalculations");
    }
    
}